<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- csrf_metaタグ -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- vite_clientタグ -->
    <%= vite_client_tag %>
    ここに出る
    <% puts "vite_client_tag evaluated" %>
    <%= Rails.env %>
<%= Rails.env.development? %>
    <%# デバッグ %>

    <%= yield :head %>

    <%# 共通のCSS: jsで読み込む %>
    <%#= vite_stylesheet_tag 'css/application' %>
    <%# ページ固有のCSS %>
    <%#= yield :stylesheet %> 

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>

  <body class="font-sans antialiased">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex">
          <div class="hidden space-x-8 sm:-my-px sm:ms-10 sm:flex">
            <%# ヘッダー ナビゲーション:ログイン状態で切り替え %>
            <% if user_signed_in? %>
              <%= render 'shared/user/header' %>
            <% end %>
            <%# if admin_signed_in? %>
              <%#= render 'shared/admin/header' %>
            <%# end %>
            <%# 未ログイン %>
            <% unless user_signed_in? %>
              <%= render 'shared/guest/header' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <main>

      <%# 個別のView %>
      <%= yield %>
    </main>
    <%# フッター %>
    <% if user_signed_in? %>
      <%= render 'shared/user/footer' %>
    <% end %>
    <%# if admin_signed_in? %>
      <%#= render 'shared/admin/footer' %>
    <%# end %>


<% if defined?(ViteRuby) %>
OK
  <!-- ViteRuby定義されてる -->
  <%= vite_client_tag %>
<% else %>
  <!-- ViteRuby未定義 -->
  <p>vite_client_tag 出力失敗</p>
<% end %>



      <%# 共通のJS %>
      <%= vite_javascript_tag 'js/application' %>
      <%# ページ固有のJS %>
      <%= yield :scripts %>
  </body>
</html>
